
  
  .drag-drop-area {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    color: #676767;
  }
  
  .drag-drop-area p {
    margin: 0;
  }
  
  .drag-drop-area:hover {
    border-color: #E798A3;
  }
  