@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior: none;
  color: var(--font-color);
  background-color: var(--sub-bg-color);
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: "Prompt", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

h1{
  overscroll-behavior: none;
  color: var(--font-color);
  background-color: var(--sub-bg-color);
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Sarabun', sans-serif;  
  
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}
h2,
h3{
  color: var(--Blue-10-b, #000);

/* prg light reg 16 */
font-family: Prompt;
font-size: 16px;
font-style: light;
font-weight: 300;
line-height: 25.5px; /* 159.375% */
}
h4{
  color: var(--Blue-10-b, #000);

/* prg reg 16 */
font-family: Prompt;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 25.5px; /* 159.375% */
}
h5 {
  color: var(--Blue-10-b, #000);

/* h5 reg 25 */
font-family: Prompt;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 31.5px; /* 126% */
}
h6 {
  margin: 0;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  width: 100%;
}

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
fieldset {
  display: block;
  width: 100%;
  margin: 0;
  border: none;
  font: inherit;
  cursor: pointer;
}

input,
select {
  display: block;
  width: 100%;
  margin: 0;
  background-color: transparent;
  font: inherit;
}

input:focus,
select:focus {
  outline: none;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

* {
  box-sizing: inherit;
}

*::before,
*::after {
  box-sizing: inherit;
}

textarea {
  background-color: #f6f6f6;
  display: block;
  width: 100%;
  min-height: 132px;
  border: 0;
  resize: none;
  border-radius: 0.5em;
  padding: 1em;
  font-family: inherit;
  font-size: inherit;
}

textarea:focus {
  outline: none;
}

[disabled] {
  pointer-events: none;
}
